google-api-python-client~=1.12
google-auth-httplib2~=0.0
google-auth-oauthlib~=0.4
pytz>=2020.4
RPi.GPIO~=0.7
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
unicornhatmini~=0.0
